name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ci
    strategy:
      matrix:
        node-version: ['20', '22', '24']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build and test
      run: |
        npm run build
        npm run lint
        npm run check-packages
        npm run test-unit-ci

    - name: Release
      if: github.ref == 'refs/heads/master' && matrix.node-version == '22'
      run: |
        export NPM_TOKEN=${{ secrets.NPM_TOKEN }}
        export GH_TOKEN=${{ secrets.GH_TOKEN }}
        npx semantic-release
